
$header-green: #00bfa5;
$app-bg: #090e11;
$white: #f1f1f2eb;
$black: #090e11;

//
$light-black: rgb(38, 45, 49);

$border-black: rgba(241, 241, 242, 0.11);

$grey: rgb(50, 55, 57);

$grey-text: rgba(241, 241, 242, 0.63);