
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.no-scroll { overflow: hidden; }

.d-none { display: none !important; }

.d-block { display: block !important; }


// Flex Helpers

.flex { display: flex; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap { flex-wrap: wrap; }

.justify-between { justify-content: space-between; }

.justify-evenly { justify-content: space-evenly; }

.justify-around { justify-content: space-around; }

.justify-center { justify-content: center; }

.justify-end { justify-content: flex-end; }

.align-start { align-items: flex-start; }

.align-center { align-items: center; }

.align-end { align-items: flex-end; }


// Visibility Helpers

.is-visible { visibility: visible !important; }

.is-hidden { visibility: hidden !important; }

// Sticky

.sticky {
    position: sticky;
    left: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}